.yellow {
    background-color: yellow;
    color: black
}

.red {
    background-color: red;
    color: white;
}

.horizontal-divider {
    border-bottom: solid;
    border-width: thick;
    color: rgba(55, 53, 47, 0.16);
}

.ag-header-container {
    background-color: #f28720ff;
}

.ql-toolbar {
    display: flex;
}

.ql-formats {
    display: flex !important;
    flex-wrap: nowrap;
}

.ql-container {
    height: calc(100% - 42px) !important;
}
