.app-container {
    font-family: 'Nanum Gothic', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #f7f8fc;
}

.menu-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: #b7b7b7ff;
}

.nav-link.active-furmo {
    color: #f28720ff !important;
}

.bg-furmo {
    background-color: #f28720ff !important;
}

.bg-main {
    color: black !important;
    background-color: #e8e8e8 !important;
}

.bg-red {
    background-color: red;
    color: white;
}

.custom-disabled {
    pointer-events: none;
    color: black !important;
    opacity: 1 !important;
}

.border-main {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #dddddd !important;
}

.bg-white {
    background-color: white !important;
}

.td-custom-container {
    position: relative;
}

.td-custom-text {
    white-space: pre !important;
    text-overflow: ellipsis;
    overflow: hidden;
}

.td-custom-border {
    position: absolute;
    top: 0;
    left: 0;
}

.td-custom-name {
    display: none;
    position: absolute;
    color: white;
    font-size: 0.75rem;
    line-height: 0.875rem;
    border-radius: 0.25rem;
    right: 0;
    top: 0;
}

.td-custom-container:hover .td-custom-name {
    display: block;
}

.span-avatar {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    color: black;
    background-color: #dddddd;
}

.span-subtitle {
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .5) 86%);
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: white;
    white-space: pre;
    pointer-events: none;
    user-select: none;
}

.span-framerate {
    background-image: linear-gradient(0deg, transparent, rgba(0, 0, 0, .5) 86%);
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    white-space: nowrap;
    font-size: 0.8rem;
    pointer-events: none;
    user-select: none;
}

.span-duration {
    color: white;
    white-space: nowrap;
    font-size: 0.8rem;
    pointer-events: none;
    user-select: none;
}

.yellow {
    background-color: yellow;
    color: black
}

.red {
    background-color: red;
    color: white;
}

.input-error-span {
    font-size: 0.75rem;
    color: red;
    font-weight: bold;
    margin: 0 0.25rem;
}

.input-header-label {
    font-size: 0.75rem;
    color: black;
}

.input-range-track {
    width: 100%;
    height: 6px;
    border-radius: 0.25rem;
}

.input-range-track-vertical {
    width: 6px;
    height: 100%;
    border-radius: 0.25rem;
}

.input-range-thumb {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer !important;
    outline: none !important;
}

.button-active {
    color: black !important;
    border-color: #f28720ff !important;
}

.button-disabled {
    color: black !important;
    border-style: none !important;
    pointer-events: none;
}

.button-icon {
    color: white;
}

.button-icon:hover {
    opacity: .5;
}

.custom-dropdown::after {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
}

.horizontal-divider {
    border-bottom: solid;
    border-width: thick;
    color: rgba(55, 53, 47, 0.16);
}

.util-container {
    position: absolute;
    bottom: 20px;
    max-height: 10rem;
    padding: 1rem 1.25rem;
    background-color: #333;
    color: white;
    border-radius: 0.25rem;
    opacity: 0.95;
    display: flex;
    flex-direction: column;
}

.util-items {
    border-bottom: 1px solid white;
    margin-right: 0.75rem;
    margin-bottom: 0.5rem;
}

.util-items:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.util-items:hover {
    cursor: pointer;
}

.fullscreen-block {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ag-header-container {
    background-color: #f28720ff;
}

.default-splitter {
    --default-splitter-line-margin: 0px !important; /* Override margin to 0 */
    --default-splitter-line-size: 5px !important;
}
