.rdg-header-row {
    background-color: #e8e8e8;
    text-align: center;
}

.rdg-cell {
    white-space: pre !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rdg-row {
    line-height: normal;
}

.rdg-detail-cell {
    padding: 1rem;
}

.rdg-header-filter {
    line-height: 1.25rem;
    padding-inline: 0.125rem;
}
